<div class="card my-2" data-commentid = "{{id}}">
    <p class="card-header">Comment by {{user.username}} on {{format_date createdAt}} {{format_time createdAt}}</p>
  <div class="card-body">
    <p class="card-text">{{content}}</p>
  </div>
</div>