<div class="card my-2" data-postid = "{{id}}">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <p class="card-title text-secondary fw-light fst-italic">Posted by {{user.username}} on {{format_date createdAt}} {{format_time createdAt}}</p>
    <p class="card-text">{{content}}</p>
    <a href="/post/{{id}}" class="btn btn-primary">Read more</a>
  </div>
</div>