<div class="card my-2" data-post-id = "{{id}}">
  <h5 class="card-header">{{title}}</h5>
  <div class="card-body">
    <p class="card-title">Posted by {{user.username}} on {{createdAt}}</p>
    <p class="card-text">{{content}}</p>
    <a href="/post/{{id}}" class="btn btn-primary">Read more</a>
  </div>
</div>